.comment-wrapper {
    margin: 0 auto;
    border: 0.5px solid silver;
    width: 500px;
    margin-bottom: 15px;
}

.comment-wrapper img{
    width: 500px;
}

.comment-wrapper .top img {
    width: 30px;
    border-radius: 100px;
    margin-left: 10px;
   
}

.top {
    display: flex;
    align-items: center;
}

